header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a{
  color: black; 
  text-decoration: none;
}

header a:active{
  color: white;
  background-color: purple;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
}

header a:hover{
  color: blue;
  text-decoration: none;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('clip_of_face_Russian_Poster_Art.png');
  background-size: cover;
  color: #ffffff;
  height: 900px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

