header {
  padding: 20px;
  width: 100%;
  background-color: black;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p{
  margin: 0;
  padding: 0 20px; 
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

header a{
  color: white; 
  text-decoration: none;
}

header a:hover{
  color: 	 #ffe180;
  text-decoration: none;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('clip_of_face_Russian_Poster_Art.png');
  background-repeat: no-repeat;
  background-size: 75%;
  height: 700px;
}

section{
  padding: 20px 0; 
}

section .row{
  display: block;
}

section h2{
  margin-top: 20px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  color: purple;
}

section h3{
  margin-top: 30px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

section h4{
  margin-left: 40px;
  margin-top: 10px;
  font-size:18px;
  font-family: "Times New Roman", Times, serif;
}

section h5{
 margin-top: 30px;
 font-size 18px;
 font-family: "Times New Roman", Times, serif;
 justify-content: left;
}

hr{
 color: black; 
}



